@import "tailwindcss";

@font-face {
  font-family: "Brandon";
  src: url("/apps/abbott/ciclo-bellanew/fonts/Brandon_reg.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Brandon";
  src: url("/apps/abbott/ciclo-bellanew/fonts/Brandon_blk.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Brandon";
  src: url("/apps/abbott/ciclo-bellanew/fonts/Brandon_light.woff")
    format("woff");
  font-weight: 300;
  font-style: normal;
}

@theme {
  --color-purple: #753bbd;
  --color-purple-heading: #772583;
  --color-pink: #d787b5;
  --color-water: #5dc5ed;
  --color-land: #00a127;
  --color-fire: #fe5800;
  --color-air: #7ec9cd;
  --font-brandon: "Brandon", sans-serif;
  --font-georgia: Georgia, serif;
}

#startDate{
  color-scheme: dark;
}

.container_info_phases {
  @apply flex-1 text-black overflow-clip text-xl;
}

.characteristicsh3{
  @apply mt-6 text-2xl font-bold;
}
