---
import Layout from "@/layouts/Layout.astro";
import { URL_BASE } from "@/config";
import Header from "@/components/Header";
---

<Layout title="Equilibrio hormonal en cada fase del ciclo">
  <main class=`h-screen bg-cover bg-center bg-no-repeat text-white font-brandon relative overflow-hidden` 
  style=`background-image: url(${URL_BASE}/img/bannerhero.webp);`
  >
    <div class="flex flex-col justify-between h-full max-w-7xl mx-auto p-4 md:p-6 lg:p-8">
      <header class="flex gap-4 justify-between">
        <img
          class="h-10 md:h-12 w-auto"
          src={`${URL_BASE}/img/logos/abbott_black.webp`}
          alt="Logo abbott en negro"
        />
        <img
          class="h-10 md:h-12 w-auto"
          src={`${URL_BASE}/img/logos/bellanew.webp`}
          alt="Logo abbott en negro"
        />
      </header>
      <section class="">
        <h1 class="text-4xl lg:text-6xl font-bold text-white">
          EQUILIBRIO HORMONAL <span class="font-light block">EN CADA FASE DEL CICLO</span>
        </h1>
        <a href={`${URL_BASE}/app`} class="mt-8 inline-block bg-purple text-white py-4 px-8 text-2xl md:text-4xl">
          INICIAR
        </a>
      </section>
    </div>
  </main>
</Layout>
